.card{
  max-width: 900;
  margin: 0 auto;
  padding: 10ox;
}

li{
  list-style-type: none;
  cursor: pointer;
  margin: 10px;
}

li .card:hover{
  border: 1px solid green;
}

ol{
  padding: 0%;
}

